body {
	background-color: #6699FF;
	font-family: "Helvetica";
}

.module {
	position: relative;
}

.quiz {
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 10px;
	border: 2px solid #0033CC;
	padding: 25px;
	background-color: #E0EBFF;
}


ul {
	list-style: none;
}

.button {
	margin: 5px;
	padding: 10px;
	background-color: #DDDDDD;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	display: block;
}

.button.highlighted {
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
}

.button.selected {
	background-color: #FFFFFF;
	border: 2px solid #0033CC;
}

.navButton {
	display: inline-flex;
	margin-top: 10px;
	margin: 5px;
}


.results-container {
	display: none;
    z-index: 10;
    border-radius: 10px;
	border: 2px solid #0033CC;
	padding: 25px;
	background-color: #E0EBFF;
	position: absolute;
	top: 0px;
	width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.results {

}

p {
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
}

#score {
	font-weight: bold;
	font-size: 200%;
}

.full-results {
}

.result {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
}

.result-question {
	display: inline-block;
	width: 30%;
}

.result-answer-container {
	display: inline-block;
	width: 65%;
}

.result-answer-row {
	
}

.result-answer {
	width: 30%;
	display: inline-block;
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 5px;
	margin: 3px;
}

.result-answer.correct {
	background-color: #CCFFCC;
	border-color: #66FF66;
}

.result-answer.incorrect {
	background-color: #FFCCCC;
	border-color: #FF6666;
}
